/*
  --aac-color-xxx-100: disabled text color
  --aac-color-xxx-400: background color
  --aac-color-xxx-700: shadow color
  --aac-color-xxx-900: text color
*/
:root {
  --aac-color-pink-100: #a16a7e;
  --aac-color-pink-400: #f9bbd0;
  --aac-color-pink-700: #f4abc4;
  --aac-color-pink-900: #d23d70;

  --aac-color-green-100: #7d805d;
  --aac-color-green-400: #dde776;
  --aac-color-green-700: #d4e250;
  --aac-color-green-900: #20450a;

  --aac-color-blue-100: #6e7199;
  --aac-color-blue-400: #c5d5ff;
  --aac-color-blue-700: #7499ff;
  --aac-color-blue-900: #2e3cff;
}
