/*
  --aac-color-xxx-100: disabled text color
  --aac-color-xxx-400: background color
  --aac-color-xxx-700: shadow color
  --aac-color-xxx-900: text color
*/
:root {
  --aac-color-pink-100: #a16a7e;
  --aac-color-pink-200: #ffe3f7;
  --aac-color-pink-400: #f9bbd0;
  --aac-color-pink-700: #f4abc4;
  --aac-color-pink-900: #d23d70;

  --aac-color-red-200: #fff3f1;
  --aac-color-red-400: #ffcdc5;
  --aac-color-red-700: #f53c20;
  --aac-color-red-900: #881200;

  --aac-color-gray-200: #efefef;
  --aac-color-gray-400: #bdbdbd;
  --aac-color-gray-700: #707070;
  --aac-color-gray-900: #202020;

  --aac-color-green-100: #7d805d;
  --aac-color-green-400: #dde776;
  --aac-color-green-700: #d4e250;
  --aac-color-green-900: #20450a;

  --aac-color-blue-100: #6e7199;
  --aac-color-blue-200: rgba(47, 137, 255, 0.1);
  --aac-color-blue-400: #dff0ff;
  --aac-color-blue-700: #1a73e8; // #1a82e2;
  --aac-color-blue-900: #123f94;

  --aac-color-orange-100: #cfc1a1;
  --aac-color-orange-200: #fff8e8;
  --aac-color-orange-400: #ffedd5;
  --aac-color-orange-700: #ff7700;
  --aac-color-orange-900: #a74e00;

  --aac-color-gold-400: gold;
  --aac-color-gold-900: #865900;
}

@mixin pink($shadow: true) {
  background-color: var(--aac-color-pink-200);
  color: var(--aac-color-pink-700);
  @if $shadow {
    // box-shadow: 0 0 0 2px var(--aac-color-pink-700);
    border: 1px solid var(--aac-color-pink-700);
  }
  &:active {
    background-color: var(--aac-color-pink-400);
  }
}
@mixin pink2($shadow: true) {
  background-color: var(--aac-color-pink-400);
  color: var(--aac-color-pink-900);
  @if $shadow {
    border: 1px solid var(--aac-color-pink-700);
  }
  &:active {
    background-color: var(--aac-color-pink-400);
  }
}

@mixin blue($shadow: true) {
  background-color: var(--aac-color-blue-200);
  color: var(--aac-color-blue-700);
  @if $shadow {
    border: 1px solid var(--aac-color-blue-700);
  }
  &:active {
    background-color: var(--aac-color-blue-400);
  }
}

@mixin orange($shadow: true) {
  background-color: var(--aac-color-orange-200);
  color: var(--aac-color-orange-700);
  @if $shadow {
    border: 1px solid var(--aac-color-orange-700);
  }
  &:active {
    background-color: var(--aac-color-orange-400);
  }
}

@mixin red($shadow: true) {
  background-color: var(--aac-color-red-200);
  color: var(--aac-color-red-700);
  @if $shadow {
    border: 1px solid var(--aac-color-red-700);
  }
  &:active {
    background-color: var(--aac-color-red-400);
  }
}
@mixin gray($shadow: true) {
  background-color: var(--aac-color-gray-200);
  color: var(--aac-color-gray-700);
  @if $shadow {
    border: 1px solid var(--aac-color-gray-700);
  }
  &:active {
    background-color: var(--aac-color-gray-400);
  }
}
