/*
  --aac-color-xxx-100: disabled text color
  --aac-color-xxx-400: background color
  --aac-color-xxx-700: shadow color
  --aac-color-xxx-900: text color
*/
:root {
  --aac-color-pink-100: #a16a7e;
  --aac-color-pink-200: #ffe3f7;
  --aac-color-pink-400: #f9bbd0;
  --aac-color-pink-700: #f4abc4;
  --aac-color-pink-900: #d23d70;

  --aac-color-red-400: #ffe0db;
  --aac-color-red-700: #f53c20;
  --aac-color-red-900: #881200;

  --aac-color-green-100: #7d805d;
  --aac-color-green-400: #dde776;
  --aac-color-green-700: #d4e250;
  --aac-color-green-900: #20450a;

  --aac-color-blue-100: #6e7199;
  --aac-color-blue-400: #b0d9ff;
  --aac-color-blue-700: #1a82e2;
  --aac-color-blue-900: #123f94;

  --aac-color-orange-100: #cfc1a1;
  --aac-color-orange-200: #ffe3a6;
  --aac-color-orange-400: #ffc850;
  --aac-color-orange-700: #f5b11f;
  --aac-color-orange-900: #774901;
}

@mixin pink($shadow: true) {
  background-color: var(--aac-color-pink-400);
  color: var(--aac-color-pink-900);
  @if $shadow {
    box-shadow: 4px 4px var(--aac-color-pink-700);
  }
  &:active {
    background-color: var(--aac-color-pink-700);
  }
}

@mixin blue($shadow: true) {
  background-color: var(--aac-color-blue-400);
  color: var(--aac-color-blue-900);
  @if $shadow {
    box-shadow: 4px 4px var(--aac-color-blue-700);
  }
  &:active {
    background-color: var(--aac-color-blue-700);
  }
}

@mixin orange($shadow: true) {
  background-color: var(--aac-color-orange-400);
  color: var(--aac-color-orange-900);
  @if $shadow {
    box-shadow: 4px 4px var(--aac-color-orange-700);
  }
  &:active {
    background-color: var(--aac-color-orange-700);
  }
}

@mixin red($shadow: true) {
  background-color: var(--aac-color-red-400);
  color: var(--aac-color-red-900);
  @if $shadow {
    box-shadow: 4px 4px var(--aac-color-red-700);
  }
  &:active($hover) {
    background-color: var(--aac-color-red-700);
  }
}
