$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;
@import "./theme";
@import "../../node_modules//bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules//bootstrap/scss/reboot";

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

$paragraph-margin-bottom: 0;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  overflow-y: hidden;
  font-family: "Noto Sans KR", sans-serif;
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  opacity: 0.1;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(148, 148, 148);
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
button {
  &.nude {
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;
    padding: 6px 8px;
    font-size: 1rem;
    font-weight: 600;
    .icon {
      &.left {
        margin-right: 4px;
      }
    }
    &.disabled {
      color: #9a9a9a;
      background-color: #ececec;
    }
  }
  &.blue {
    background-color: #2b70ea;
    color: white;
    padding: 6px 8px;
    &:hover {
      box-shadow: 0 0 3px #19366988;
    }
    &:focus {
      outline: 3px solid #1369ff5e;
    }
    &[disabled] {
      color: #efefef;
      background-color: #91baff;
      cursor: not-allowed;
    }
  }
  &.red {
    background-color: crimson;
    color: white;
    padding: 6px 8px;
    &:hover {
      box-shadow: 0 0 3px #692e1988;
    }
    &:active {
      background-color: crimson;
    }
    &:focus {
      outline: 3px solid #ff99ad96;
    }
  }
  &.green {
    background-color: #43cd63;
    color: white;
    padding: 6px 8px;
    &:hover {
      box-shadow: 0 0 3px #279340;
    }
    &:active {
      background-color: #2e9c48;
    }
    &:focus {
      outline: 3px solid #a5ff65;
    }
  }
  &.gray {
    background-color: #efefef;
    color: #777;
    padding: 6px 8px;
    &:hover {
      box-shadow: 0 0 3px #cdcdcd;
    }
    &:active {
      background-color: #ababab;
    }
    &:focus {
      outline: 3px solid #efefef;
    }
  }
  &.round {
    border-radius: 4px;
  }
}

.effect {
  &.pressed {
    &:active {
      transform: translate(1px, 1px);
    }
  }
}
.mgt-8px {
  margin-top: 8px;
}
.mgt-16px {
  margin-top: 16px;
}
.mgt-32px {
  margin-top: 32px;
}
.mgb-8px {
  margin-bottom: 8px;
}
.mgb-16px {
  margin-bottom: 16px;
}
.mg8px {
  margin: 8px 0;
}
.max800 {
  max-width: 800px;
}

.anim {
  &.rotate {
    animation: anim-rotate 2s linear 0s infinite;
  }
}

.tr-fade {
  &-enter-from,
  &-enter {
    opacity: 0;
  }
  &-enter-active,
  &-leave-active {
    transition: opacity 0.2s ease-in;
  }
  &-leave-to {
    opacity: 0;
  }
}

.trs-scale {
  &-grow {
    &-enter-from,
    &-enter {
      opacity: 0;
      transform: scale(0.9);
    }
    &-enter-active,
    &-leave-active {
      transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    }
    &-leave-to {
      opacity: 0;
      transform: scale(0.9);
    }
  }
}

.hr {
  &-dash {
    margin: 16px 0;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 2px;
      width: 100%;
      background: linear-gradient(
        90deg,
        #ccc 0px,
        #ccc 2px,
        #fff 2px,
        #fff 6px
      );
      background-size: 6px;
      background-repeat: repeat-x;
      z-index: 0;
    }
    & > span {
      background-color: white;
      z-index: 5;
      position: relative;
      padding: 0 8px;
    }
  }
}

.abs {
  &-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.modal-dimmer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7777774d;
}
.text {
  &-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
ul.nude {
  padding: 0;
  margin: 0;
  list-style: none;
  &.hor {
    display: flex;
    align-items: center;
  }
}
@keyframes anim-rotate {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(-270deg);
  }
}
@keyframes bouncing-updown {
  0% {
    transform: translate(-50%, -8px);
  }
  50% {
    transform: translate(-50%, -12px);
  }
  100% {
    transform: translate(-50%, -8px);
  }
}
